<div class="profile-container">
    <button id="profileButton" onclick="toggleProfileMenu()">Profile</button>
    <div id="profileMenu" class="profile-menu">
        <div class="user-info">
            <div class="user-name">
                <span id="loggedUserFName"></span> <span id="loggedUserLName"></span>
            </div>
            <div class="user-email" id="loggedUserEmail"></div>
        </div>
        <button id="myAccount">My-Account</button>
        <button id="logout">Logout</button>
    </div>
</div>