<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aditi - Pharmaceutical Assistant</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <div class="container">
        <h1>Aditi - Your Pharmaceutical Assistant</h1>
        


        <div id="chatbox" class="message-container"></div>
        <div class="input-container">
            <input type="text" id="userInput" placeholder="Ask Aditi..." autofocus>
            <button onclick="sendMessage()">Send</button>
        </div>
    </div>
        <!-- Profile Button -->
        <div class="profile-container">
          <button id="profileButton" onclick="toggleProfileMenu()">Profile</button>
          <div id="profileMenu" class="profile-menu">
          <div class="">Name: &nbsp; <span id="loggedUserFName"></span>&nbsp; <span id="loggedUserLName"></span></div>
          <div class="">Email:&nbsp; <span id="loggedUserEmail"></span></div>
          <P></P>
          <button id="logout">Logout</button>
          </div>
      </div></div>
    <script src="https://www.gstatic.com/firebasejs/10.11.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/10.11.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/10.11.1/firebase-firestore.js"></script>
    <script src="../static/js/auth.js"></script>
    <script src="../static/js/main.js"></script>


    
    <script type="module">
      import { initializeApp } from "https://www.gstatic.com/firebasejs/10.11.1/firebase-app.js";
import {getAuth, onAuthStateChanged, signOut} from "https://www.gstatic.com/firebasejs/10.11.1/firebase-auth.js";
import{getFirestore, getDoc, doc} from "https://www.gstatic.com/firebasejs/10.11.1/firebase-firestore.js";

// Firebase configuration and initialization
const firebaseConfig = {
    apiKey: "AIzaSyDa6_47neFJAH-I4i-ZCU0elY4cRmpyotg",
    authDomain: "aditi-pharmaceutical-assistant.firebaseapp.com",
    projectId: "aditi-pharmaceutical-assistant",
    storageBucket: "aditi-pharmaceutical-assistant.firebasestorage.app",
    messagingSenderId: "241653252150",
    appId: "1:241653252150:web:ce83fa898dc2f77a669897",
    measurementId: "G-HMJ6SD9Q9H"
};

const app = initializeApp(firebaseConfig);
const auth = getAuth();
const db = getFirestore();

onAuthStateChanged(auth, (user)=>{
    const loggedInUserId=localStorage.getItem('loggedInUserId');
    if(loggedInUserId){
        console.log(user);
        const docRef = doc(db, "users", loggedInUserId);
        getDoc(docRef)
        .then((docSnap)=>{
            if(docSnap.exists()){
                const userData=docSnap.data();
                document.getElementById('loggedUserFName').innerText=userData.firstName;
                document.getElementById('loggedUserEmail').innerText=userData.email;
                document.getElementById('loggedUserLName').innerText=userData.lastName;

            }
            else{
                console.log("no document found matching id")
                

            }
        })
        .catch((error)=>{
            console.log("Error getting document");
        })
    }
    else{
        console.log("User Id not Found in Local storage")
                // Redirect to the home page ("/")
                window.location.href = "/";
    }
  })

  const logoutButton=document.getElementById('logout');

logoutButton.addEventListener('click',()=>{
  localStorage.removeItem('loggedInUserId');
  signOut(auth)
  .then(()=>{
      window.location.href='/';
  })
  .catch((error)=>{
      console.error('Error Signing out:', error);
  })
})
    </script>
</body>
</html>
